<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>


   <!-- <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/spring/SpringContext-servlet.xml</param-value>
    </context-param>-->

   <!-- <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>-->

    <!-- Generic Servlet Testing -->
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.test.servlet.FirstServlet</servlet-class>
    </servlet>
    <!-- Spring Dispatcher Servlet Configuration-->
    <servlet>
        <servlet-name>SpringContext</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/SpringContext-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/showHeading.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpringContext</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
